
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light py-2">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="{{site.baseurl}}/index.html">
        <img src="{{site.baseurl}}/assets/img/brand/white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{{site.baseurl}}/index.html">
                <img src="{{site.baseurl}}/assets/img/brand/red.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="{{site.baseurl}}/pages/announcements.html" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Announcements</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{site.baseurl}}/pages/calendar.html" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{site.baseurl}}/pages/photoGallery.html" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Photo Gallery</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{site.baseurl}}/pages/aboutUs.html" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">About Us</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Join Now</span>
            </a>
            <div class="dropdown-menu">
              <a href="{{site.baseurl}}/pages/JoinNow/students.html" class="dropdown-item">Students</a>
              <a href="{{site.baseurl}}/pages/JoinNow/coaches.html" class="dropdown-item">Coaches</a>
              <a href="{{site.baseurl}}/pages/JoinNow/leadership.html" class="dropdown-item">Leadership</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
